# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Custom files
/.tmp
/out
/config.properties
/vcxproj/*.user
/.vs
/doc.generated
/doxygen.log
/doxygen_undocumented.log
/gen-vcxproj-user-files.bat
/auth.properties
/github.txt
/sandbox.properties.template
/sandbox.properties
/.deploy
/_out
/_tmp
/_deploy
/_out
/_tmp
/database.properties
/src/main/_cpp.template
/_run_logs
/*.log
/windeployqt.txt
*.sqlite
/logging.properties
/src/yaml-cpp
/bat/call-vcvars64.bat
/bat/call-vcvars32.bat
/rust.txt
/src/invest_openapi/_bak_database_manager.h
/src/invest_openapi/_bak_database_manager_base.h
/src/main/example002.cpp
/vcxproj/example002.vcxproj
/vcxproj/example002.vcxproj.filters
/bat/call-vcvars-x64.bat
/bat/call-vcvars-x86.bat
