# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Custom files
/.tmp
/out
/config.properties
/vcxproj/*.user
/.vs
/doc.generated
/doxygen.log
/doxygen_undocumented.log
/gen-vcxproj-user-files.bat
/auth.properties
/github.txt
