sandbox.currency.RUB = 100000.0
sandbox.currency.USD = 1000.0
#sandbox.currency.EUR
#sandbox.currency.GBP
#sandbox.currency.HKD
#sandbox.currency.CHF
#sandbox.currency.JPY
#sandbox.currency.CNY
#sandbox.currency.TRY

sandbox.positions = ROSN
sandbox.positions.ROSN = 100