database = ../tkf_invest_db.sqlite
database.reopen = true
database.defaults.decimal.format = 18.8
; Don't add predefined data
;database.create_clean = false
;database.create_clean = true

database.init.fail.on_fill_unknown_table   = true
database.init.fail.on_insertion_error      = true
database.init.tables_list = BROKER_ACCOUNT_TYPE,CURRENCY,INSTRUMENT_TYPE,CANDLE_RESOLUTION,OPERATION_TYPE,ORDER_STATUS,ORDER_TYPE,OPERATION_STATUS,OPERATION_TYPE_WITH_COMMISSION,TIMEZONE,STOCK_EXCHANGE_LIST
