logging.debug.dump.requests  = true
logging.debug.dump.responses = true
logging.debug.dump.sql       = true

;logging.debug.dump.requests  = false
;logging.debug.dump.responses = false
;logging.debug.dump.sql       = false



logging.data.base-folder = ../_data_logs
